<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="logImpl" value="SLF4J" />
    <!--列值为null是否调用bean的set或者map的put-->
    <setting name="callSettersOnNulls" value="true" />
  </settings>

  <typeAliases>
    <package name="com.roadjava.student.bean"/>
  </typeAliases>

</configuration>